{% extends 'home.html' %}

{% block content %}

<div class="container mt-4">


<!-- Back Button -->
<div class="mb-3">

    {% if request.user.groups.all.0.name == "Student" %}

        <a href="{% url 'student_dashboard' %}"
           class="btn btn-secondary">
            ← Back to Student Dashboard
        </a>


    {% elif request.user.groups.all.0.name == "Teacher" %}

        <a href="{% url 'teacher_dashboard' %}"
           class="btn btn-secondary">
            ← Back to Teacher Dashboard
        </a>

    {% endif %}

</div>


<h2 class="mb-4">
    🔔 Notifications
</h2>


<div class="card bg-dark border-secondary">

<div class="card-body">


{% for notification in notifications %}


<a href="{% url 'notification_detail' notification.id %}"
   class="text-decoration-none text-white">


<div class="border-bottom border-secondary py-3">


<div class="d-flex justify-content-between">


<span>

{% if not notification.is_read %}
🔵
{% endif %}

🔔 {{ notification.title }}

</span>


<small class="text-muted">
{{ notification.created_at }}
</small>


</div>


</div>


</a>


{% empty %}

<p class="text-center">
No notifications found.
</p>


{% endfor %}


</div>
</div>


</div>


{% endblock %}