{% extends 'home.html' %}
{% load static %}

{% block content %}

<div class="dashboard-page">

    <!-- Header -->
    <div class="page-header">
        <h2>📘 Create Assignment</h2>
        <p>Course: <strong>{{ course.name }}</strong></p>
    </div>

    <!-- Form Card -->
    <div class="dashboard-card">

        <form method="POST"
      enctype="multipart/form-data">


{% csrf_token %}


<label>
Title
</label>

<input 
name="title"
class="form-control">



<label>
Description
</label>

<textarea
name="description"
class="form-control">

</textarea>



<label>
Due Date
</label>

<input
type="date"
name="due_date"
class="form-control">



<label>
Attachment
</label>

<input
type="file"
name="attachment"
class="form-control">



<button class="btn btn-success">

Create Assignment

</button>


</form>

                <a href="{% url 'teacher_dashboard' %}" class="btn btn-secondary">
                    ⬅ Back
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}