{% extends 'home.html' %}

{% block content %}

<div class="container-fluid mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>My Complaints</h2>

        <a href="{% url 'create_complaint' %}"
           class="btn btn-primary">
            + New Complaint
        </a>
    </div>

    <div class="row mb-4">

        <div class="col-md-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h6>Total</h6>
                    <h3>{{ total }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h6>Pending</h6>
                    <h3>{{ pending }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h6>In Progress</h6>
                    <h3>{{ progress }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h6>Resolved</h6>
                    <h3>{{ resolved }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="card shadow border-0">

    <div class="card-header">
        Complaint History
    </div>

    <div class="card-body">

        <table class="table table-hover align-middle">

            <thead class="table-light">
<tr>
    <th>ID</th>
    <th>Category</th>
    <th>Title</th>
    <th>Status</th>
    <th>Actions</th>
    <th>Reply</th>
    <th>Date</th>
</tr>
</thead>

            <tbody>

            {% for complaint in complaints %}

                <tr>

                    <td>#{{ complaint.id }}</td>

                    <td>
                        {{ complaint.category }}
                    </td>

                    <td>
                        {{ complaint.title }}
                    </td>

                    <td>

                        {% if complaint.status == "Pending" %}
                            <span class="badge bg-warning">
                                Pending
                            </span>

                        {% elif complaint.status == "In Progress" %}
                            <span class="badge bg-info">
                                In Progress
                            </span>

                        {% elif complaint.status == "Resolved" %}
                            <span class="badge bg-success">
                                Resolved
                            </span>
                        {% endif %}

                    </td>
                    <td>

    {% if complaint.status == "Pending" %}

        <a href="{% url 'edit_complaint' complaint.id %}"
           class="btn btn-warning btn-sm">
           Edit
        </a>

        <a href="{% url 'delete_complaint' complaint.id %}"
           class="btn btn-danger btn-sm">
           Delete
        </a>

    {% else %}

        <span class="badge bg-secondary">
            Locked
        </span>

    {% endif %}

</td>

                    <td>

                        {% if complaint.reply %}
                            {{ complaint.reply|truncatechars:40 }}
                        {% else %}
                            <span class="text-muted">
                                No Reply
                            </span>
                        {% endif %}

                    </td>

                    <td>
                        {{ complaint.created_at|date:"d M Y" }}
                    </td>

                </tr>

            {% empty %}

                <tr>
                    <td colspan="7" class="text-center">
                        No complaints found
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>
{% endblock %}